body{
  text-align: center;
  height: 100vh;
  background-color: grey;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas: 
  "a b c"
  "d app e"
  "f j k";
}
div{
  grid-area: app;
}
h1{
  font-size: 60px;
}
button{
  width: 60px;
  height: 60px;
  font-size: 30px;
  margin: 10px;
  
}
button:hover{
  color: antiquewhite;
  background-color: rgb(77, 76, 76)
  
}
input{
width: 120px;
height: 50px;
font-size: 30px;
text-align: center;
}
.btn-input{
  border-radius: 18px;
  border: 5px rgb(77, 76, 76) solid;
}
